/* Generated CSS Variables from Design Tokens */

:root {
    --color-primary-primary-darker: #0a3d26ff;
    --color-primary-primary-dark: #0f5c38ff;
    --color-primary-primary-base: #16a662ff;
    --color-primary-primary-light: #5ecda0ff;
    --color-primary-primary-lighter: #e8f5eeff;
    --color-bg-strong-900: #0a0d14ff;
    --color-bg-surface-700: #20232dff;
    --color-bg-soft-200: #e2e4e9ff;
    --color-bg-weak-100: #f6f8faff;
    --color-bg-white-0: #ffffffff;
    --color-text-main-900: #0a0d14ff;
    --color-text-sub-500: #525866ff;
    --color-text-soft-400: #868c98ff;
    --color-text-disabled-300: #cdd0d5ff;
    --color-text-white-0: #ffffffff;
    --color-stroke-strong-900: #0a0d14ff;
    --color-stroke-sub-300: #cdd0d5ff;
    --color-stroke-soft-200: #e2e4e9ff;
    --color-stroke-white-0: #ffffffff;
    --color-stroke-disabled-100: #f6f8faff;
    --color-icon-strong-900: #0a0d14ff;
    --color-icon-sub-500: #525866ff;
    --color-icon-soft-400: #868c98ff;
    --color-icon-disabled-300: #cdd0d5ff;
    --color-icon-white-0: #ffffffff;
    --color-state-success: #38c793ff;
    --color-state-warning: #f17b2cff;
    --color-state-error: #df1c41ff;
    --color-state-information: #375dfbff;
    --color-state-away: #f2ae40ff;
    --color-state-feature: #6e3ff3ff;
    --color-state-neutral: #868c98ff;
    --color-state-verified: #35b9e9ff;
    --color-neutral-0: #ffffffff;
    --color-neutral-100: #f6f8faff;
    --color-neutral-200: #e2e4e9ff;
    --color-neutral-300: #cdd0d5ff;
    --color-neutral-400: #868c98ff;
    --color-neutral-500: #525866ff;
    --color-neutral-600: #31353fff;
    --color-neutral-700: #20232dff;
    --color-neutral-800: #161922ff;
    --color-neutral-900: #0a0d14ff;
    --grid-sidebar-expanded-1440-0-pattern: columns;
    --grid-sidebar-expanded-1440-0-section-size: 17rem;
    --grid-sidebar-expanded-1440-0-gutter-size: 1.5rem;
    --grid-sidebar-expanded-1440-0-alignment: min;
    --grid-sidebar-expanded-1440-0-count: 1;
    --grid-sidebar-expanded-1440-0-offset: 0;
    --grid-sidebar-expanded-1440-1-pattern: columns;
    --grid-sidebar-expanded-1440-1-section-size: 4.375rem;
    --grid-sidebar-expanded-1440-1-gutter-size: 1.5rem;
    --grid-sidebar-expanded-1440-1-alignment: min;
    --grid-sidebar-expanded-1440-1-count: 12;
    --grid-sidebar-expanded-1440-1-offset: 19rem;
    --grid-sidebar-expanded-1440-2-pattern: grid;
    --grid-sidebar-expanded-1440-2-section-size: 0.25rem;
    --grid-sidebar-collapsed-1440-0-pattern: columns;
    --grid-sidebar-collapsed-1440-0-section-size: 5rem;
    --grid-sidebar-collapsed-1440-0-gutter-size: 1.5rem;
    --grid-sidebar-collapsed-1440-0-alignment: min;
    --grid-sidebar-collapsed-1440-0-count: 1;
    --grid-sidebar-collapsed-1440-0-offset: 0;
    --grid-sidebar-collapsed-1440-1-pattern: columns;
    --grid-sidebar-collapsed-1440-1-section-size: 5.375rem;
    --grid-sidebar-collapsed-1440-1-gutter-size: 1.5rem;
    --grid-sidebar-collapsed-1440-1-alignment: min;
    --grid-sidebar-collapsed-1440-1-count: 12;
    --grid-sidebar-collapsed-1440-1-offset: 7rem;
    --grid-sidebar-collapsed-1440-2-pattern: grid;
    --grid-sidebar-collapsed-1440-2-section-size: 0.25rem;
    --grid-sidebar-submenu-1440-0-pattern: columns;
    --grid-sidebar-submenu-1440-0-section-size: 21.5rem;
    --grid-sidebar-submenu-1440-0-gutter-size: 1.5rem;
    --grid-sidebar-submenu-1440-0-alignment: min;
    --grid-sidebar-submenu-1440-0-count: 1;
    --grid-sidebar-submenu-1440-0-offset: 0;
    --grid-sidebar-submenu-1440-1-pattern: columns;
    --grid-sidebar-submenu-1440-1-section-size: 4rem;
    --grid-sidebar-submenu-1440-1-gutter-size: 1.5rem;
    --grid-sidebar-submenu-1440-1-alignment: min;
    --grid-sidebar-submenu-1440-1-count: 12;
    --grid-sidebar-submenu-1440-1-offset: 23.5rem;
    --grid-sidebar-submenu-1440-2-pattern: grid;
    --grid-sidebar-submenu-1440-2-section-size: 0.25rem;
    --grid-topbar-1440-0-pattern: columns;
    --grid-topbar-1440-0-gutter-size: 0;
    --grid-topbar-1440-0-alignment: stretch;
    --grid-topbar-1440-0-count: 2;
    --grid-topbar-1440-0-offset: 2.75rem;
    --grid-topbar-1440-1-pattern: columns;
    --grid-topbar-1440-1-section-size: 5rem;
    --grid-topbar-1440-1-gutter-size: 1.5rem;
    --grid-topbar-1440-1-alignment: center;
    --grid-topbar-1440-1-count: 12;
    --grid-topbar-1440-2-pattern: grid;
    --grid-topbar-1440-2-section-size: 0.25rem;
    --grid-mobile-pattern: columns;
    --grid-mobile-gutter-size: 1.25rem;
    --grid-mobile-alignment: stretch;
    --grid-mobile-count: 4;
    --grid-mobile-offset: 1.5rem;
    --effect-regular-shadow-x-small: 0 0.0625rem 0.125rem 0 #e4e5e73d;
    --effect-regular-shadow-small: 0 0.125rem 0.25rem 0 #1b1c1d0a;
    --effect-regular-shadow-medium: 0 1rem 2rem -0.75rem #585c5f1a;
    --effect-regular-shadow-large: 0 1rem 2.5rem -0.5rem #585c5f29;
    --effect-regular-shadow-x-large: 0 1.5rem 3.5rem -0.25rem #585c5f29;
    --effect-regular-shadow-2x-large: 0 2.5rem 6rem -0.5rem #585c5f33;
    --font-title-h1-title-font-size: 4rem;
    --font-title-h1-title-text-decoration: none;
    --font-title-h1-title-font-family: 'Plus Jakarta Sans';
    --font-title-h1-title-font-weight: 500;
    --font-title-h1-title-font-style: normal;
    --font-title-h1-title-font-stretch: normal;
    --font-title-h1-title-letter-spacing: -0.125rem;
    --font-title-h1-title-line-height: 5.375rem;
    --font-title-h1-title-paragraph-indent: 0;
    --font-title-h1-title-paragraph-spacing: 0;
    --font-title-h1-title-text-case: none;
    --font-title-h1-title-text-transform: none;
    --font-title-h1-title-font: normal normal 500 normal 4rem/5.375rem 'Plus Jakarta Sans';
    --font-title-h2-title-font-size: 3rem;
    --font-title-h2-title-text-decoration: none;
    --font-title-h2-title-font-family: 'Plus Jakarta Sans';
    --font-title-h2-title-font-weight: 500;
    --font-title-h2-title-font-style: normal;
    --font-title-h2-title-font-stretch: normal;
    --font-title-h2-title-letter-spacing: -0.0625rem;
    --font-title-h2-title-line-height: 4rem;
    --font-title-h2-title-paragraph-indent: 0;
    --font-title-h2-title-paragraph-spacing: 0;
    --font-title-h2-title-text-case: none;
    --font-title-h2-title-text-transform: none;
    --font-title-h2-title-font: normal normal 500 normal 3rem/4rem 'Plus Jakarta Sans';
    --font-title-h3-title-font-size: 2.5rem;
    --font-title-h3-title-text-decoration: none;
    --font-title-h3-title-font-family: 'Plus Jakarta Sans';
    --font-title-h3-title-font-weight: 400;
    --font-title-h3-title-font-style: normal;
    --font-title-h3-title-font-stretch: normal;
    --font-title-h3-title-letter-spacing: -0.0938rem;
    --font-title-h3-title-line-height: 3.75rem;
    --font-title-h3-title-paragraph-indent: 0;
    --font-title-h3-title-paragraph-spacing: 0;
    --font-title-h3-title-text-case: none;
    --font-title-h3-title-text-transform: none;
    --font-title-h3-title-font: normal normal 400 normal 2.5rem/3.75rem 'Plus Jakarta Sans';
    --font-title-h4-title-font-size: 2rem;
    --font-title-h4-title-text-decoration: none;
    --font-title-h4-title-font-family: 'Plus Jakarta Sans';
    --font-title-h4-title-font-weight: 500;
    --font-title-h4-title-font-style: normal;
    --font-title-h4-title-font-stretch: normal;
    --font-title-h4-title-letter-spacing: -0.0187rem;
    --font-title-h4-title-line-height: 3rem;
    --font-title-h4-title-paragraph-indent: 0;
    --font-title-h4-title-paragraph-spacing: 0;
    --font-title-h4-title-text-case: none;
    --font-title-h4-title-text-transform: none;
    --font-title-h4-title-font: normal normal 500 normal 2rem/3rem 'Plus Jakarta Sans';
    --font-title-h5-title-font-size: 1.5rem;
    --font-title-h5-title-text-decoration: none;
    --font-title-h5-title-font-family: 'Plus Jakarta Sans';
    --font-title-h5-title-font-weight: 500;
    --font-title-h5-title-font-style: normal;
    --font-title-h5-title-font-stretch: normal;
    --font-title-h5-title-letter-spacing: 0;
    --font-title-h5-title-line-height: 2.25rem;
    --font-title-h5-title-paragraph-indent: 0;
    --font-title-h5-title-paragraph-spacing: 0;
    --font-title-h5-title-text-case: none;
    --font-title-h5-title-text-transform: none;
    --font-title-h5-title-font: normal normal 500 normal 1.5rem/2.25rem 'Plus Jakarta Sans';
    --font-title-h6-title-font-size: 1.25rem;
    --font-title-h6-title-text-decoration: none;
    --font-title-h6-title-font-family: 'Plus Jakarta Sans';
    --font-title-h6-title-font-weight: 500;
    --font-title-h6-title-font-style: normal;
    --font-title-h6-title-font-stretch: normal;
    --font-title-h6-title-letter-spacing: 0;
    --font-title-h6-title-line-height: 1.75rem;
    --font-title-h6-title-paragraph-indent: 0;
    --font-title-h6-title-paragraph-spacing: 0;
    --font-title-h6-title-text-case: none;
    --font-title-h6-title-text-transform: none;
    --font-title-h6-title-font: normal normal 500 normal 1.25rem/1.75rem 'Plus Jakarta Sans';
    --font-label-x-large-font-size: 1.5rem;
    --font-label-x-large-text-decoration: none;
    --font-label-x-large-font-family: 'Plus Jakarta Sans';
    --font-label-x-large-font-weight: 500;
    --font-label-x-large-font-style: normal;
    --font-label-x-large-font-stretch: normal;
    --font-label-x-large-letter-spacing: -0.0125rem;
    --font-label-x-large-line-height: 2rem;
    --font-label-x-large-paragraph-indent: 0;
    --font-label-x-large-paragraph-spacing: 0;
    --font-label-x-large-text-case: none;
    --font-label-x-large-text-transform: none;
    --font-label-x-large-font: normal normal 500 normal 1.5rem/2rem 'Plus Jakarta Sans';
    --font-label-large-font-size: 1.125rem;
    --font-label-large-text-decoration: none;
    --font-label-large-font-family: 'Plus Jakarta Sans';
    --font-label-large-font-weight: 500;
    --font-label-large-font-style: normal;
    --font-label-large-font-stretch: normal;
    --font-label-large-letter-spacing: -0.0312rem;
    --font-label-large-line-height: 1.5rem;
    --font-label-large-paragraph-indent: 0;
    --font-label-large-paragraph-spacing: 0;
    --font-label-large-text-case: none;
    --font-label-large-text-transform: none;
    --font-label-large-font: normal normal 500 normal 1.125rem/1.5rem 'Plus Jakarta Sans';
    --font-label-medium-font-size: 1rem;
    --font-label-medium-text-decoration: none;
    --font-label-medium-font-family: 'Plus Jakarta Sans';
    --font-label-medium-font-weight: 500;
    --font-label-medium-font-style: normal;
    --font-label-medium-font-stretch: normal;
    --font-label-medium-letter-spacing: -0.0125rem;
    --font-label-medium-line-height: 1.5rem;
    --font-label-medium-paragraph-indent: 0;
    --font-label-medium-paragraph-spacing: 0;
    --font-label-medium-text-case: none;
    --font-label-medium-text-transform: none;
    --font-label-medium-font: normal normal 500 normal 1rem/1.5rem 'Plus Jakarta Sans';
    --font-label-small-font-size: 0.875rem;
    --font-label-small-text-decoration: none;
    --font-label-small-font-family: 'Plus Jakarta Sans';
    --font-label-small-font-weight: 500;
    --font-label-small-font-style: normal;
    --font-label-small-font-stretch: normal;
    --font-label-small-letter-spacing: -0.05rem;
    --font-label-small-line-height: 1.25rem;
    --font-label-small-paragraph-indent: 0;
    --font-label-small-paragraph-spacing: 0;
    --font-label-small-text-case: none;
    --font-label-small-text-transform: none;
    --font-label-small-font: normal normal 500 normal 0.875rem/1.25rem 'Plus Jakarta Sans';
    --font-label-x-small-font-size: 0.75rem;
    --font-label-x-small-text-decoration: none;
    --font-label-x-small-font-family: 'Plus Jakarta Sans';
    --font-label-x-small-font-weight: 500;
    --font-label-x-small-font-style: normal;
    --font-label-x-small-font-stretch: normal;
    --font-label-x-small-letter-spacing: 0;
    --font-label-x-small-line-height: 1rem;
    --font-label-x-small-paragraph-indent: 0;
    --font-label-x-small-paragraph-spacing: 0;
    --font-label-x-small-text-case: none;
    --font-label-x-small-text-transform: none;
    --font-label-x-small-font: normal normal 500 normal 0.75rem/1rem 'Plus Jakarta Sans';
    --font-paragraph-x-large-font-size: 1.5rem;
    --font-paragraph-x-large-text-decoration: none;
    --font-paragraph-x-large-font-family: 'Plus Jakarta Sans';
    --font-paragraph-x-large-font-weight: 400;
    --font-paragraph-x-large-font-style: normal;
    --font-paragraph-x-large-font-stretch: normal;
    --font-paragraph-x-large-letter-spacing: -0.0625rem;
    --font-paragraph-x-large-line-height: 2rem;
    --font-paragraph-x-large-paragraph-indent: 0;
    --font-paragraph-x-large-paragraph-spacing: 0;
    --font-paragraph-x-large-text-case: none;
    --font-paragraph-x-large-text-transform: none;
    --font-paragraph-x-large-font: normal normal 400 normal 1.5rem/2rem 'Plus Jakarta Sans';
    --font-paragraph-large-font-size: 1.125rem;
    --font-paragraph-large-text-decoration: none;
    --font-paragraph-large-font-family: 'Plus Jakarta Sans';
    --font-paragraph-large-font-weight: 400;
    --font-paragraph-large-font-style: normal;
    --font-paragraph-large-font-stretch: normal;
    --font-paragraph-large-letter-spacing: -0.0563rem;
    --font-paragraph-large-line-height: 1.5rem;
    --font-paragraph-large-paragraph-indent: 0;
    --font-paragraph-large-paragraph-spacing: 0;
    --font-paragraph-large-text-case: none;
    --font-paragraph-large-text-transform: none;
    --font-paragraph-large-font: normal normal 400 normal 1.125rem/1.5rem 'Plus Jakarta Sans';
    --font-paragraph-medium-font-size: 1rem;
    --font-paragraph-medium-text-decoration: none;
    --font-paragraph-medium-font-family: 'Plus Jakarta Sans';
    --font-paragraph-medium-font-weight: 400;
    --font-paragraph-medium-font-style: normal;
    --font-paragraph-medium-font-stretch: normal;
    --font-paragraph-medium-letter-spacing: -0.0125rem;
    --font-paragraph-medium-line-height: 1.5rem;
    --font-paragraph-medium-paragraph-indent: 0;
    --font-paragraph-medium-paragraph-spacing: 0;
    --font-paragraph-medium-text-case: none;
    --font-paragraph-medium-text-transform: none;
    --font-paragraph-medium-font: normal normal 400 normal 1rem/1.5rem 'Plus Jakarta Sans';
    --font-paragraph-small-font-size: 0.875rem;
    --font-paragraph-small-text-decoration: none;
    --font-paragraph-small-font-family: 'Plus Jakarta Sans';
    --font-paragraph-small-font-weight: 400;
    --font-paragraph-small-font-style: normal;
    --font-paragraph-small-font-stretch: normal;
    --font-paragraph-small-letter-spacing: -0.0125rem;
    --font-paragraph-small-line-height: 1.25rem;
    --font-paragraph-small-paragraph-indent: 0;
    --font-paragraph-small-paragraph-spacing: 0;
    --font-paragraph-small-text-case: none;
    --font-paragraph-small-text-transform: none;
    --font-paragraph-small-font: normal normal 400 normal 0.875rem/1.25rem 'Plus Jakarta Sans';
    --font-paragraph-x-small-font-size: 0.75rem;
    --font-paragraph-x-small-text-decoration: none;
    --font-paragraph-x-small-font-family: 'Plus Jakarta Sans';
    --font-paragraph-x-small-font-weight: 400;
    --font-paragraph-x-small-font-style: normal;
    --font-paragraph-x-small-font-stretch: normal;
    --font-paragraph-x-small-letter-spacing: 0;
    --font-paragraph-x-small-line-height: 1rem;
    --font-paragraph-x-small-paragraph-indent: 0;
    --font-paragraph-x-small-paragraph-spacing: 0;
    --font-paragraph-x-small-text-case: none;
    --font-paragraph-x-small-text-transform: none;
    --font-paragraph-x-small-font: normal normal 400 normal 0.75rem/1rem 'Plus Jakarta Sans';
    --font-subheading-medium-font-size: 1rem;
    --font-subheading-medium-text-decoration: none;
    --font-subheading-medium-font-family: 'Plus Jakarta Sans';
    --font-subheading-medium-font-weight: 500;
    --font-subheading-medium-font-style: normal;
    --font-subheading-medium-font-stretch: normal;
    --font-subheading-medium-letter-spacing: 0.0625rem;
    --font-subheading-medium-line-height: 1.5rem;
    --font-subheading-medium-paragraph-indent: 0;
    --font-subheading-medium-paragraph-spacing: 0;
    --font-subheading-medium-text-case: uppercase;
    --font-subheading-medium-text-transform: uppercase;
    --font-subheading-medium-font: normal normal 500 normal 1rem/1.5rem 'Plus Jakarta Sans';
    --font-subheading-small-font-size: 0.875rem;
    --font-subheading-small-text-decoration: none;
    --font-subheading-small-font-family: 'Plus Jakarta Sans';
    --font-subheading-small-font-weight: 500;
    --font-subheading-small-font-style: normal;
    --font-subheading-small-font-stretch: normal;
    --font-subheading-small-letter-spacing: 0.0625rem;
    --font-subheading-small-line-height: 1.25rem;
    --font-subheading-small-paragraph-indent: 0;
    --font-subheading-small-paragraph-spacing: 0;
    --font-subheading-small-text-case: uppercase;
    --font-subheading-small-text-transform: uppercase;
    --font-subheading-small-font: normal normal 500 normal 0.875rem/1.25rem 'Plus Jakarta Sans';
    --font-subheading-x-small-font-size: 0.75rem;
    --font-subheading-x-small-text-decoration: none;
    --font-subheading-x-small-font-family: 'Plus Jakarta Sans';
    --font-subheading-x-small-font-weight: 500;
    --font-subheading-x-small-font-style: normal;
    --font-subheading-x-small-font-stretch: normal;
    --font-subheading-x-small-letter-spacing: 0.0312rem;
    --font-subheading-x-small-line-height: 1rem;
    --font-subheading-x-small-paragraph-indent: 0;
    --font-subheading-x-small-paragraph-spacing: 0;
    --font-subheading-x-small-text-case: uppercase;
    --font-subheading-x-small-text-transform: uppercase;
    --font-subheading-x-small-font: normal normal 500 normal 0.75rem/1rem 'Plus Jakarta Sans';
    --font-subheading-2x-small-font-size: 0.6875rem;
    --font-subheading-2x-small-text-decoration: none;
    --font-subheading-2x-small-font-family: 'Plus Jakarta Sans';
    --font-subheading-2x-small-font-weight: 500;
    --font-subheading-2x-small-font-style: normal;
    --font-subheading-2x-small-font-stretch: normal;
    --font-subheading-2x-small-letter-spacing: 0.0312rem;
    --font-subheading-2x-small-line-height: 0.75rem;
    --font-subheading-2x-small-paragraph-indent: 0;
    --font-subheading-2x-small-paragraph-spacing: 0;
    --font-subheading-2x-small-text-case: uppercase;
    --font-subheading-2x-small-text-transform: uppercase;
    --font-subheading-2x-small-font: normal normal 500 normal 0.6875rem/0.75rem 'Plus Jakarta Sans';
}
